*
{
    /* margin: 0;
    padding: 0; */
}
div{
    padding: 50px;
    height: 530px;
    /* background-color: rgb(66, 83, 83); */
    border: 2px dashed rgb(255, 0, 0);
    /* background-image: url(cat-6747298.jpg); */
    background-image: linear-gradient(120deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0.04) 35%,rgba(220, 220, 220, 0.04) 35%, rgba(220, 220, 220, 0.04) 100%),linear-gradient(70deg, rgba(83, 83, 83, 0.04) 0%, rgba(83, 83, 83, 0.04) 71%,rgba(6, 6, 6, 0.04) 71%, rgba(6, 6, 6, 0.04) 100%),linear-gradient(110deg, rgba(203, 203, 203, 0.04) 0%, rgba(203, 203, 203, 0.04) 58%,rgba(3, 3, 3, 0.04) 58%, rgba(3, 3, 3, 0.04) 100%),linear-gradient(110deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%,rgba(226, 226, 226, 0.04) 11%, rgba(226, 226, 226, 0.04) 100%),linear-gradient(160deg, rgb(215, 19, 84),rgb(234, 119, 123));
    /* background-size: contain; */
    background-attachment: scroll;
    background-repeat: no-repeat;
    /* background-position:center right; */
    /* background-clip: content-box; */
    background-origin: border-box;

}
p{
    color: rgba(0, 0, 0, 0.479);
}